<form class="form__group" onsubmit="return false;">
  <input class="form__group__input" id="day" placeholder="День" type="date">
  <input class="form__group__input" id="time_lesson_start" placeholder="Время" type="time">
  <input class="form__group__input" id="time_lesson_end" placeholder="Время" type="time">
  <input class="form__group__input" id="lesson" placeholder="Занятие" required type="text">
  <input class="form__group__input" id="teacher" placeholder="Преподатель" type="text">
  <button class="form__group__button" id="button" onsubmit="return false;" type="submit">Добавить</button>
</form>
<div class="form__div" id="form__div">
</div>