<table class="main__table">
  <tr><th class="main__th">Марка</th><th class="main__th">Объем</th></tr>
  <tr><td class="main__td">coca cola</td><td class="main__td">0.5</td></tr>
  <tr><td class="main__td">fanta</td><td class="main__td">0.5</td></tr>
  <tr><td class="main__td">sprite</td><td class="main__td">0.5</td></tr>
</table>