<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head }}
</head>
<body class="page">
<header class="header">
  {{> header }}
</header>
<main class="main">
  {{> content this.content }}
</main>
<footer class="footer">
  {{> footer }}
</footer>
{{> shared_scripts content=this.content}}
</body>
</html>