<!DOCTYPE html>
<html lang="ru">
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  {{> head }}
</head>
<body class="page">
<header class="header">
  {{> header }}
</header>
<main class="main">
  {{#if_eq this.content 'feed'}}
    {{> feed}}
  {{else}}
    {{> content this.content }}
  {{/if_eq}}
</main>
<footer class="footer">
  {{> footer }}
</footer>
{{> shared_scripts content=this.content}}
</body>
</html>