<nav class="sidenav__header__menu">
  <ul class="header__menu">
    <li class="header__menu__li"><a class="header__menu__link" href="/">Главная</a></li>
    <li class="header__menu__li"><a class="header__menu__link" href="table">Таблица</a></li>
    <li class="header__menu__li"><a class="header__menu__link" href="schedule">Расписание</a></li>
    <li class="header__menu__li"><a class="header__menu__link" href="feed">Лента</a></li>
  </ul>
  {{> login }}
</nav>