<meta charset="UTF-8">
<meta name="description" content="Сайт-портфолио" />
<meta name="author" content="Гуммель Никита" />
<title>Гуммель Никита - M33041</title>
<!<link href="outline-prototype-label.css" rel="stylesheet"/>
<link href="styles.css" rel="stylesheet"/>
{{#if_eq this.content 'feed'}}
  <link href="toastinette.css" rel="stylesheet"/>
{{/if_eq}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>