{{#unless signed_in}}
<ul class="header__login">
  <a href="#" class="button" onclick="return openForm();">Войти</a>
</ul>
{{else}}
<ul class="header__login">
  <a href="/logout" class="button">Выйти</a>
</ul>
{{/unless}}